<div class="home-4">
    <div class="container">
        <h2 class="title-2 text-center">The mystery box consists of:</h2>
        <div class="home-4__block">
            <div class="home-4__block_item item-1 active" data-target="#home-4__img-1">
                <div class="home-4__block_item_name">Wooden box</div>
                <div class="home-4__block_img-small">
                    <img alt="" src="../../assets/img/casket-small.png">
                </div>
            </div>
            <div class="home-4__block_item item-2" data-target="#home-4__img-2">
                <div class="home-4__block_item_name">Altar of Mr. <br> and Ms. Hu</div>
                <div class="home-4__block_img-small">
                    <img alt="" src="../../assets/img/altar-small.png">
                </div>
            </div>
            <div class="home-4__block_item item-3" data-target="#home-4__img-3">
                <div class="home-4__block_item_name">Personal <br> Diagram</div>
                <div class="home-4__block_img-small">
                    <img alt="" src="../../assets/img/diagram-small.png">
                </div>
            </div>
            <div class="home-4__block_item item-4" data-target="#home-4__img-4">
                <div class="home-4__block_item_name">Candle from <br> the Heavenly <br> Foxes Temple</div>
                <div class="home-4__block_img-small">
                    <img alt="" src="../../assets/img/candle-small.png">
                </div>
            </div>
            <div class="home-4__block_item item-5" data-target="#home-4__img-5">
                <div class="home-4__block_item_name">Frankincense with <br> sandalwood aroma</div>
                <div class="home-4__block_img-small">
                    <img alt="" src="../../assets/img/incense-small.png">
                </div>
            </div>
            <div class="home-4__block_img active" id="home-4__img-1">
                <a href="../../assets/img/casket-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/casket.png">
                </a>
                <a href="../../assets/img/casket-open-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/casket-open.png">
                </a>
                <a href="../../assets/img/casket-packing-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/casket-packing.png">
                </a>
            </div>
            <div class="home-4__block_img" id="home-4__img-2">
                <a href="../../assets/img/altar-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/altar.png">
                </a>
            </div>
            <div class="home-4__block_img" id="home-4__img-3">
                <a href="../../assets/img/diagram-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/diagram.png">
                </a>
            </div>
            <div class="home-4__block_img" id="home-4__img-4">
                <a href="../../assets/img/candle-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/candle.png">
                </a>
            </div>
            <div class="home-4__block_img" id="home-4__img-5">
                <a href="../../assets/img/incense-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/incense.png">
                </a>
            </div>
        </div>
        <!-- /.home-4__block -->
        <div class="home-4__bottom">
            <div class="home-4__price">$15 000</div>
            <button class="btn">Buy</button>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.home-4 -->