<div class="home-4">
    <div class="container">
        <h2 class="title-2 text-center">Что входит в волшебную шкатулку:</h2>
        <div class="home-4__block">
            <div class="home-4__block_item item-1 active">
                <div class="home-4__block_item_name">Шкатулка из дерева</div>
                <div class="home-4__block_img-small">
                    <img src="../../assets/img/home-4__img_small-1.png" alt="">
                </div>
            </div>
            <div class="home-4__block_item item-2">
                <div class="home-4__block_item_name">Алтарь Мистера <br> и Миссис Ху</div>
                <div class="home-4__block_img-small">
                    <img src="../../assets/img/home-4__img_small-2.png" alt="">
                </div>
            </div>
            <div class="home-4__block_item item-3">
                <div class="home-4__block_item_name">Персональная <br> Диаграмма</div>
                <div class="home-4__block_img-small">
                    <img src="../../assets/img/home-4__img_small-3.png" alt="">
                </div>
            </div>
            <div class="home-4__block_item item-4">
                <div class="home-4__block_item_name">Свеча из <br> храма <br> Небесных лис</div>
                <div class="home-4__block_img-small">
                    <img src="../../assets/img/home-4__img_small-4.png" alt="">
                </div>
            </div>
            <div class="home-4__block_item item-5">
                <div class="home-4__block_item_name">Благовония с <br> запахом сандала</div>
                <div class="home-4__block_img-small">
                    <img src="../../assets/img/home-4__img_small-5.png" alt="">
                </div>
            </div>
            <div class="home-4__block_img">
                <img src="../../assets/img/home-4__img_big-1.png" alt="">
            </div>
        </div>
        <!-- /.home-4__block -->
        <div class="home-4__bottom">
            <div class="home-4__price">$15 000</div>
            <button class="btn">Купить</button>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.home-4 -->