<div class="home-4">
    <div class="container">
        <h2 class="title-2 text-center">的神秘盒包括：</h2>
        <div class="home-4__block">
            <div class="home-4__block_item item-1 active" data-target="#home-4__img-1">
                <div class="home-4__block_item_name">木箱</div>
                <div class="home-4__block_img-small">
                    <img alt="" src="../../assets/img/casket-small.png">
                </div>
            </div>
            <div class="home-4__block_item item-2" data-target="#home-4__img-2">
                <div class="home-4__block_item_name">木制波萨尔塔先生 <br> 和女士胡轉換</div>
                <div class="home-4__block_img-small">
                    <img alt="" src="../../assets/img/altar-small.png">
                </div>
            </div>
            <div class="home-4__block_item item-3" data-target="#home-4__img-3">
                <div class="home-4__block_item_name">个人图。</div>
                <div class="home-4__block_img-small">
                    <img alt="" src="../../assets/img/diagram-small.png">
                </div>
            </div>
            <div class="home-4__block_item item-4" data-target="#home-4__img-4">
                <div class="home-4__block_item_name">蜡烛</div>
                <div class="home-4__block_img-small">
                    <img alt="" src="../../assets/img/candle-small.png">
                </div>
            </div>
            <div class="home-4__block_item item-5" data-target="#home-4__img-5">
                <div class="home-4__block_item_name">乳香</div>
                <div class="home-4__block_img-small">
                    <img alt="" src="../../assets/img/incense-small.png">
                </div>
            </div>
            <div class="home-4__block_img active" id="home-4__img-1">
                <a href="../../assets/img/casket-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/casket.png">
                </a>
                <a href="../../assets/img/casket-open-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/casket-open.png">
                </a>
                <a href="../../assets/img/casket-packing-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/casket-packing.png">
                </a>
            </div>
            <div class="home-4__block_img" id="home-4__img-2">
                <a href="../../assets/img/altar-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/altar.png">
                </a>
            </div>
            <div class="home-4__block_img" id="home-4__img-3">
                <a href="../../assets/img/diagram-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/diagram.png">
                </a>
            </div>
            <div class="home-4__block_img" id="home-4__img-4">
                <a href="../../assets/img/candle-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/candle.png">
                </a>
            </div>
            <div class="home-4__block_img" id="home-4__img-5">
                <a href="../../assets/img/incense-big.png" data-fancybox="home-4">
                    <img alt="" src="../../assets/img/incense.png">
                </a>
            </div>
        </div>
        <!-- /.home-4__block -->
        <div class="home-4__mobile">
            <div class="home-4__mobile_slider">
                <div class="home-4__mobile_img home-4__mobile_img-1 active">
                    <a href="../../assets/img/casket-big.png" data-fancybox="home-4">
                        <img alt="" src="../../assets/img/casket.png">
                    </a>
                    <a href="../../assets/img/casket-open-big.png" data-fancybox="home-4">
                        <img alt="" src="../../assets/img/casket-open.png">
                    </a>
                    <a href="../../assets/img/casket-packing-big.png" data-fancybox="home-4">
                        <img alt="" src="../../assets/img/casket-packing.png">
                    </a>
                </div>
                <div class="home-4__mobile_img home-4__mobile_img-2">
                    <a href="../../assets/img/altar-big.png" data-fancybox="home-4">
                        <img alt="" src="../../assets/img/altar.png">
                    </a>
                </div>
                <div class="home-4__mobile_img home-4__mobile_img-3">
                    <a href="../../assets/img/diagram-big.png" data-fancybox="home-4">
                        <img alt="" src="../../assets/img/diagram.png">
                    </a>
                </div>
                <div class="home-4__mobile_img home-4__mobile_img-4">
                    <a href="../../assets/img/candle-big.png" data-fancybox="home-4">
                        <img alt="" src="../../assets/img/candle.png">
                    </a>
                </div>
                <div class="home-4__mobile_img home-4__mobile_img-5">
                    <a href="../../assets/img/incense-big.png" data-fancybox="home-4">
                        <img alt="" src="../../assets/img/incense.png">
                    </a>
                </div>
            </div>
            <div class="home-4__mobile_tabs">
                <div class="home-4__mobile_item active" data-target=".home-4__mobile_img-1">
                    <img alt="" src="../../assets/img/casket-small.png">
                </div>
                <div class="home-4__mobile_item" data-target=".home-4__mobile_img-2">
                    <img alt="" src="../../assets/img/altar-small.png">
                </div>
                <div class="home-4__mobile_item" data-target=".home-4__mobile_img-3">
                    <img alt="" src="../../assets/img/diagram-small.png">
                </div>
                <div class="home-4__mobile_item" data-target=".home-4__mobile_img-4">
                    <img alt="" src="../../assets/img/candle-small.png">
                </div>
                <div class="home-4__mobile_item" data-target=".home-4__mobile_img-5">
                    <img alt="" src="../../assets/img/incense-small.png">
                </div>
            </div>
        </div>
        <div class="home-4__mobile_name home-4__mobile_img-1 active">木箱</div>
        <div class="home-4__mobile_name home-4__mobile_img-2">木制波萨尔塔先生 和女士胡轉換</div>
        <div class="home-4__mobile_name home-4__mobile_img-3">个人图。</div>
        <div class="home-4__mobile_name home-4__mobile_img-4">蜡烛</div>
        <div class="home-4__mobile_name home-4__mobile_img-5">乳香</div>
        <div class="home-4__bottom">
            <div class="home-4__price">15 000 CNY</div>
            <button class="btn js-anchor-link" data-target="#home-5">买</button>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.home-4 -->