<div class="home-3">
    <div class="container">
        <h2 class="title-2 text-center">Help of Mr. and Ms. Hu spirits.</h2>
        <div class="home-3__subtitle text-center">
            The Unique Altar of Mr. and Ms. Hu with prayer inside. <br>
            You may purchase the set and turn towards the Heavenly Foxes Spirits, and after pray they <br>
            they can help with difficulties, obtaining of well-being, wealth and health.
        </div>
        <div class="home-3__slider">
            <a href="../../assets/img/casket-open-big.png" data-fancybox="home-3" class="home-3__slider_item">
                <img src="../../assets/img/casket-open.png" alt="">
            </a>
            <a href="../../assets/img/casket-packing-big.png" data-fancybox="home-3" class="home-3__slider_item">
                <img src="../../assets/img/casket-packing.png" alt="">
            </a>
            <a href="../../assets/img/casket-big.png" data-fancybox="home-3" class="home-3__slider_item">
                <img src="../../assets/img/casket.png" alt="">
            </a>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.home-3 -->