<div class="home-3">
    <div class="container">
        <h2 class="title-2 text-center">帮助先生和胡女士的情绪。</h2>
        <div class="home-3__subtitle text-center">
            独特的祭坛先生和胡女士在祈祷里。<br>
            你可以购买这套和转向天上的狐狸的精神、后祈祷他们
        </div>
        <div class="home-3__slider">
            <a href="../../assets/img/casket-open-big.png" data-fancybox="home-3" class="home-3__slider_item">
                <img src="../../assets/img/casket-open.png" alt="">
            </a>
            <a href="../../assets/img/casket-packing-big.png" data-fancybox="home-3" class="home-3__slider_item">
                <img src="../../assets/img/casket-packing.png" alt="">
            </a>
            <a href="../../assets/img/casket-big.png" data-fancybox="home-3" class="home-3__slider_item">
                <img src="../../assets/img/casket.png" alt="">
            </a>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.home-3 -->