<div class="home-3">
    <div class="container">
        <h2 class="title-2 text-center">Помощь духов Мистер и Миссис Ху</h2>
        <div class="home-3__subtitle text-center">
            Уникальная алтарь Мистер и Миссис Ху с молитвой внутри. <br>
            Вы можете приобрести набор и обратиться к Духам Небесных лис, помолившись они могут <br>
            помочь с трудностями, обрести благополучие, богатство и здоровье.
        </div>
        <div class="home-3__slider">
            <div class="home-3__slider_item">
                <img src="../../assets/img/home-3__slide-1.png" alt="">
            </div>
            <div class="home-3__slider_item">
                <img src="../../assets/img/home-3__slide-1.png" alt="">
            </div>
            <div class="home-3__slider_item">
                <img src="../../assets/img/home-3__slide-1.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.home-3 -->