<header class="header">
    <div class="container">
        <div class="header__box">
            <div class="header__left">
                <div class="logo">
                    <div class="logo__img">
                        <img src="../../assets/img/icons/logo.png" alt="Fox Fairy">
                    </div>
                    <div class="logo__text">&nbsp; — Ху Сиань</div>
                </div>
            </div>
            <div class="header__right">
                <a href="/" class="header__right_link">
                    <span class="header__right_link_icon">
                        <img src="../../assets/img/icons/envelope.png" alt="">
                    </span>
                    <span class="header__right_link_text">Связаться</span>
                </a>
                <button class="header__right_btn btn">Купить</button>
            </div>
        </div>
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->