<div class="home-5" id="home-5">
    <div class="container">
        <h2 class="title-2 text-center">Fill the order form:</h2>
        <form class="form">
            <div class="form-steep active" id="step-1">
                <div class="form-title">The mystery box: Altar, candle, frankincense, personal diagram.</div>
                <div class="form-box form-box-small">
                    <div class="form-group">
                        <label class="label" for="count">Amount:</label>
                        <input class="input" id="count" min="1" step="1" type="number" placeholder="1">
                        <div class="placeholder">Amount:</div>
                    </div>
                    <div class="form-group">
                        <div class="label">Sum:</div>
                        <div class="input">$15 000</div>
                        <div class="placeholder">Sum:</div>
                    </div>
                </div>
                <div class="form-grid">
                    <div class="form-grid-item">
                        <div class="form-box">
                            <div class="form-group">
                                <label class="label" for="name">Name:</label>
                                <input class="input" id="name" placeholder="Enter the name" type="text">
                                <div class="placeholder">Name:</div>
                            </div>
                            <div class="form-group">
                                <label class="label" for="birthday">Date of birthday:</label>
                                <input class="input" id="birthday" placeholder="Enter the date of birthday" type="text">
                                <div class="placeholder">Date of birthday:</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-grid-item">
                        <div class="form-box">
                            <div class="form-group">
                                <label class="label" for="tel">Telephone number:</label>
                                <input class="input" id="tel" placeholder="Enter the telephone number" type="text">
                                <div class="placeholder">Telephone number:</div>
                            </div>
                            <div class="form-group">
                                <label class="label" for="email">E-mail:</label>
                                <input class="input" id="email" placeholder="Enter the e-mail" type="email">
                                <div class="placeholder">E-mail:</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="steep-buttons steep-buttons-first form-group">
                    <a href="#step-2" class="btn js-btn-steep">Next</a>
                </div>
            </div>
            <div class="form-steep" id="step-2">
                <div class="form-title">Fill the delivery details:</div>
                <div class="form-grid">
                    <div class="form-grid-item">
                        <div class="form-group">
                            <div class="label">Country:</div>
                            <div class="input-arrows">
                                <select class="input">
                                    <option value="Ukraine">Ukraine</option>
                                    <option value="Ukraine">USA</option>
                                    <option value="Ukraine">China</option>
                                </select>
                                <div class="placeholder">Country:</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="label">Address:</div>
                <div class="form-grid">
                    <div class="form-grid-item">
                        <div class="form-group">
                            <label>
                                <input class="input" placeholder="Postal code" type="text">
                                <div class="placeholder">Postal code:</div>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input class="input" placeholder="City" type="text">
                                <div class="placeholder">City:</div>
                            </label>
                        </div>
                    </div>
                    <div class="form-grid-item">
                        <div class="form-group">
                            <label>
                                <input class="input" placeholder="Street" type="text">
                                <div class="placeholder">Street:</div>
                            </label>
                        </div>
                        <div class="form-box">
                            <div class="form-group">
                                <label>
                                    <input class="input" placeholder="House" type="text">
                                    <div class="placeholder">House:</div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input class="input" placeholder="Flat" type="text">
                                    <div class="placeholder">Flat:</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-grid">
                    <div class="form-grid-item">
                        <div class="form-group">
                            <div class="label">Your comment:</div>
                            <textarea class="textarea" placeholder="Enter the text"></textarea>
                            <div class="placeholder">Your comment:</div>
                        </div>
                    </div>
                </div>
                <div class="steep-buttons form-group">
                    <a href="#step-1" class="btn js-btn-steep">Back</a>
                    <a href="#step-3" class="btn js-btn-steep">Next</a>
                </div>
            </div>
            <div class="form-steep steep-info" id="step-3">
                <div class="form-grid">
                    <div class="form-grid-item">
                        <div class="form-title">Total:</div>
                        <div class="form-group">
                            <div class="label">Goods:</div>
                            <div class="text-grey">The mystery box</div>
                        </div>
                        <div class="form-group">
                            <div class="label">Amount:</div>
                            <div class="text-grey">1 item</div>
                        </div>
                        <div class="form-group">
                            <div class="label">Address :</div>
                            <div class="text-grey">USA</div>
                        </div>
                    </div>
                    <div class="form-grid-item">
                        <div class="form-title">Payment</div>
                        <div class="form-group">
                            <div class="label">Method of payment:</div>
                            <div class="home-5__method-pay">
                                <div class="home-5__method-pay_icon">
                                    <img alt="" src="../../assets/img/icons/union-pay.png">
                                </div>
                                <div class="text-grey">UnionPay</div>
                            </div>
                        </div>
                        <div class="steep-buttons form-group">
                            <a href="#step-2" class="btn js-btn-steep">Back</a>
                            <button class="home-5_form__btn_mobile btn">Pay</button>
                        </div>
                        <div class="form-group home-5_form__btn">
                            <button class="btn">Pay</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.form -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-5 -->