.home-5 {
	margin-top: -50px;
	padding: 100px 0 130px;
	background-image: url(../../assets/img/bg/home-5.png);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.home-5__method-pay {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 50px;
}

.home-5__method-pay_icon {
	margin-right: 20px;
}

.home-5_form__btn {
	margin-top: 50px;
}