.footer {
	background-color: #060303;
}

.footer__box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 0;
}

.footer__text {
	font-size: 24px;
}

.footer__list {}

.footer__list_item {
	margin-top: 5px;
}

@media (max-width: 767.98px) {
	.footer {
		padding-top: 10px;
		background-image: url(../../assets/img/bg/footer__mobile.png);
		background-position: center top;
		background-size: cover;
		background-color: #303030;
		.header__right_link {
			justify-content: center;
			width: 100%;
			margin-top: 10px;
		}
	}
	.footer__box {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.footer__text {
		width: 100%;
	}
	.footer__list {
		width: 100%;
	}
}