<footer class="footer">
    <div class="container">
        <div class="footer__box">
            <div class="footer__text">Ху Сиянь, 2019</div>
            <a href="/" class="header__right_link">
                <span class="header__right_link_icon">
                    <img src="../../assets/img/icons/envelope.png" alt="">
                </span>
                <span class="header__right_link_text">Связаться</span>
            </a>
        </div>
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->