.footer {
	background-color: #060303;
}

.footer__box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 90px;
}

.footer__text {
	font-size: 24px;
}

@media (max-width: 767.98px) {
	.footer {
		padding-top: 10px;
		background-image: url(../../assets/img/bg/footer__mobile.png);
		background-position: center top;
		background-size: cover;
		background-color: #303030;
	}
}