<footer class="footer">
    <div class="container">
        <div class="footer__box">
            <div class="footer__text">Hu Xian, 2019</div>
            <ul class="footer__list">
                <li class="footer__list_item">The Center of Traditional Taoist Studies</li>
                <li class="footer__list_item">41 Applecrest road Weston MA 02493</li>
                <li class="footer__list_item">+1 (781) 899 4654</li>
            </ul>
            <a href="/" class="header__right_link">
                <span class="header__right_link_icon">
                    <img src="../../assets/img/icons/envelope.png" alt="">
                </span>
                <span class="header__right_link_text">Connect</span>
            </a>
        </div>
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->