.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 43px;
	border-radius: 50px;
	border: 1px solid $main;
	background-color: transparent;
	outline: none;
	font-size: 18px;
	color: $main;
	transition: all .3s;
	&:hover {
		background-color: $main;
		color: $black;
	}
}