.title-1 {
	font-family: 'BehrensAntiqua', sans-serif;
	font-size: 56px;
}

.title-2 {
	font-family: 'BehrensAntiqua', sans-serif;
	font-size: 48px;
}

.title-3 {
	font-family: 'BehrensAntiqua', sans-serif;
	font-size: 38px;
}

.text {
	line-height: 2;
}

.text-center {
	text-align: center;
}

.text-grey {
	color: rgba($white,.3);
}

.logo {
	display: flex;
	align-items: center;
}

.logo__text {
	font-family: 'BehrensAntiqua', sans-serif;
	color: $main;
}