.home-2 {
	margin-top: -70px;
	padding: 110px 0 80px;
	background-image: url(../../assets/img/bg/home-2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.home-2__box {
	display: flex;
}

.home-2__left {
	width: 100%;
}

.home-2__left_img {
	margin-top: 20px;
}

.home-2__right {
	width: 100%;
	padding-top: 50px;
}

.home-2__right_img {
	margin-top: 50px;
}



@media (max-width: 991.98px) {
	.home-2 {
		padding: 90px 0 50px;
	}
}

@media (max-width: 767.98px) {
	.home-2 {
		margin-top: -30px;
		padding: 50px 0 30px;
		background-image: url(../../assets/img/bg/home-2__mobile.png);
		background-position: center top;
	}
	.home-2__box {
		flex-wrap: wrap;
	}
	.home-2__left {
		position: relative;
	}
	.home-2__left_subtitle {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
		font-size: 18px;
		text-align: center;
	}
	.home-2__right {
		padding-top: 35px;
	}
	.home-2__right_img {
		margin-top: 0;
	}
}