<div class="home-2">
    <div class="container">
        <div class="home-2__box">
            <div class="home-2__left">
                <h2 class="title-2">Верховный жрец</h2>
                <div class="home-2__left_subtitle">The Taoist Abbott Lui</div>
                <div class="home-2__left_img">
                    <img src="../../assets/img/home-2__img.png" alt="">
                </div>
            </div>
            <div class="home-2__right">
                <h3 class="title-3">Даосский храм</h3>
                <p class="text">
                    Верховный жрец лично благословил лучших мастеров по дереву
                    на создание великого алтаря Небесных лис Ху Сиань
                </p>
                <div class="home-2__right_img">
                    <img src="../../assets/img/home-2__video.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.home-2 -->