<div class="home-2">
    <div class="container">
        <div class="home-2__box">
            <div class="home-2__left">
                <h2 class="title-2">High Priest</h2>
                <div class="home-2__left_subtitle">The Taoist Abbott Lui</div>
                <div class="home-2__left_img">
                    <img alt="" src="../../assets/img/home-2__img.png">
                </div>
            </div>
            <div class="home-2__right">
                <h3 class="title-3">Taoist Temple</h3>
                <p class="text">
                    High Priest personally blessed the best woodwork artist to create the great altar of Hu Xian
                    Heavenly Foxes.
                </p>
                <div class="home-2__right_video">
                    <video controls>
                        <source src="../../assets/img/media/legend.mp4" type="video/mp4">
                        <source src="../../assets/img/media/legend.webm" type="video/webm">
                        <p>Your browser doesn't support HTML5 video. Here is
                            a <a href="https://youtu.be/77guk633rzc">link to the video</a> instead.</p>
                    </video>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.home-2 -->