.home-1 {
	position: relative;
	padding: 170px 0 150px;
	background-image: url(../../assets/img/bg/home-1.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 2;
	.logo__text {
		font-size: 60px;
	}
}

.home-1__box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-1__left {
	position: relative;
	display: flex;
	align-items: center;
	width: 80%;
}

.home-1__left_img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.home-1__left_img_desktop {
	max-width: none;
}

.home-1__left_img_mobile {
	display: none;
	width: 100%;
}

.home-1__right {
	width: 100%;
}

.home-1__title {
	margin-top: 75px;
}



@media (max-width: 991.98px) {
	.home-1 {
		.logo__img {
			max-width: 115px;
		}
		.logo__text {
			font-size: 32px;
		}
	}
	.home-1__title {
		margin-top: 15px;
	}
	.home-1__left_img {
		position: inherit;
		transform: none;
		top: inherit;
		left: inherit;
		width: 100%;
	}
	.home-1__left_img_desktop {
		display: none;
	}
	.home-1__left_img_mobile {
		display: block;
	}
}

@media (max-width: 767.98px) {
	.home-1 {
		padding: 90px 0 30px;
		background-image: url(../../assets/img/bg/home-1__mobile.png);
		background-position: center bottom;
	}
	.home-1__box {
		flex-wrap: wrap;
	}
	.home-1__left {
		justify-content: center;
		width: 100%;
		img {
			max-height: 320px;
		}
	}
	.home-1__left_img {
		width: auto;
	}
}