<div class="home-1">
    <div class="container">
        <div class="logo mobile-logo">
            <div class="logo__img">
                <img src="../../assets/img/icons/logo.png" alt="Fox Fairy">
            </div>
            <div class="logo__text">&nbsp; — Hu Xian</div>
        </div>
        <div class="home-1__box">
            <div class="home-1__left">
                <img alt="" src="../../assets/img/home-1__img.png">
            </div>
            <div class="home-1__right">
                <div class="logo desktop-logo">
                    <div class="logo__img">
                        <img src="../../assets/img/icons/logo.png" alt="Fox Fairy">
                    </div>
                    <div class="logo__text">&nbsp; — Hu Xian</div>
                </div>
                <h1 class="home-1__title title-1">For the first time in a thousand years</h1>
                <p class="text">
                    For centuries inhabitants of the Middle State, Chinese, have been worshipping and praying to
                    powerful spirits of the Magic Foxes.
                </p>
                <p class="text">
                    The Magic Foxes flew from other dimensions and stayed in palaces of the Big Dipper stellar pattern.
                    The Jade Imperator, the Master of the Universe has sent and today sends the Magic Foxes to Earth for
                    the knowledge of the goodness and nothing of people.
                </p>
                <p class="text">
                    In the first time the Magic Foxes take the form of the forest foxes because of the Jade Imperator
                    order. After that, getting the Tests of Mentors, they get the magic power.
                </p>
                <p class="text">
                    From the forest foxes the Magic Foxes turn into beautiful maidens or wise old men, talented young
                    men or reasonable bureaucrats, saving its magic power in these forms. Most frequently the Magic
                    Foxes turned into in the form of wise people, husband and wife, Mr. and Ms. Hu.
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.home-1 -->